@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Now Display";
  src: url("../../public/fonts/HelveticaNowDisplay-Regular.eot");
  src: local("../../public/fonts/Helvetica Now Display Regular"),
    local("../../public/fonts/HelveticaNowDisplay-Regular"),
    url("../../public/fonts/HelveticaNowDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("../../public/fonts/HelveticaNowDisplay-Regular.woff") format("woff"),
    url("../../public/fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: "Helvetica Now Display";
}

.container-fluid {
  @apply max-w-[1190px] mx-5 lg:mx-auto lg:px-0 relative;
}
.desktop-component {
  display: block;
}
@media (max-width: 1024px) {
  .desktop-component {
    display: none;
  }
}

.mobile-component {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-component {
    display: block;
  }
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
